body {
    background-image: url("../images/light-grey-terrazzo.png");
}


#header {
    color: #ffffff;
    background-color: orange;
    font-size: 36px;
    width: 310px;
    height: 75px;
    padding: 8px;
    margin: 10px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p {
    font-family: 'PT Serif', serif;
    margin: 5px;
    font-weight: bold;
}

.content {
    color: green;
    background-color: peachpuff;
    width: 500px;
    height: 400px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.random {
    background-color: green;
    font-size: 50px;
    width: 325px;
    height: 150px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.stats {
    background-color: turquoise;
    width: 100px;
    height: 150px;
    float: left;
    margin-left: 10px;
}

.first {
    clear: both;
    float: left;
}

.crystal {
    height: 125px;
    width: 125px;
    margin:0px, 0px, 10px, 10px;
    float: left;
}

.total {
    clear: both;
    color: #ffffff;
    background-color: teal;
    width: 250px;
    padding: 4px;
    margin-left: 10px;
}

.score {
    color: #ffffff;
    background-color: teal; 
    width: 238px;
    height: 80px;
    margin: 10px;
    font-size: 50px;
    padding: 10px;
}

